<p>
  The following is the list of all the books we have in store
</p>
<div>
  <ul>
    <li *ngFor="let book of books">
      {{book.title}} {{book.author}} {{book.year}}
    </li>
  </ul>

  <h1>Your city's Weather as follows</h1>

  <div>
    <form>
      <div class="form-group">
        <label>Enter City: <input class="form-field" type="text" id="city" name="city" placeholder="Enter city name" #cityName/> </label>
      </div>
      <div class="form-group">
        <input class="btn-primary" type="button" value="Find Weather" (click)="printWeather(cityName.value)" />
      </div>
    </form>
    {{weather}}
  </div>
</div>
